@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
	font-family: 'Press Start 2P', cursive;
	display: flex;
	justify-content: center;
}

.container{
	text-align: center;
	max-height: 500px;
	max-width: 500px
}

.buttons {
	position: relative;
	width:500px;
	height: 500px;
	top:0;
	left:0;
	border: solid 2px #000;
	background-image: url('./img/n64controller.jpg');
	background-position-x:center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-y: 0%;
	box-sizing: border-box;
}

.controller-image{
	height:auto;
}
.controller-image, .buttons{
	display: block;
	margin-left: auto;
	margin-right: auto;
  	width: 100%;
}


/* Main Container -  this controls the size of the circle */
.button_container
{
	width : 6%;
	height : 6%;
	margin : 0;
	padding : 0;
/*	border : 1px solid red; */
}

.arrowbutton{
	width: 4.5%;
	height: 4.5%;
}

/* Circle Main draws the actual circle */
.button_main
{
	width : 100%;
	height : 100%;
	border-radius : 50%;
	border : 5px solid black;	/* can alter thickness and colour of circle on this line */
	margin : 0;
	padding : 0;
	
}


/* Circle Text Container - constrains text area to within the circle */
.button_text_container
{
	/* area constraints */
	width : 7%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;

	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	
	/* border : 1px solid green; */
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.button_text
{
	/* change font/size/etc here */
	text-align : center;
	
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}

.b{
	background-color: green;
}

.a{
	background-color: blue;
}

.button_a, .button_b, .arrowbutton, .r ,.z{
	position: absolute;
}
.button_b{
	top:35.2%;
	left:64.3%;
}

.button_a{
    top: 41.5%;
    left: 71%;
}

.arrow{
	background-color: gold;
}

.arrows{
	font-size: 25px;
	top:37%;
}
.ab{
	left:120%;
}
.leftright{
	left:-100%;
}
.button_down{
	top: 35.1%	;
    left: 79.2%
}
.button_up{
	top: 24.5%;
    left: 79.2%;
}
.button_left{
	top: 29.8%;
    left: 73.5%;
}
.button_right{
	top: 29.8%;
    left: 85.3%;
}

.button_z{
	width:100%;
	height:120%;
	border-radius:15%;
}

.button_r{
	width:300%;
	height:50%;
	border-radius: 0 70% 0 0;
}
.button_z, .button_r{
	border : 5px solid black;
	background-color: gray;
	margin:0;
	padding:0;
}

.z{
	top:60%;
	left:66%;
}

.r{
	top:9%;
	left:72%;
	transform: rotate(10deg);
}

.shoulder_text{
	transform: rotate(-10deg) translateY(-45%)
}
.button_instructions{
	display:none;
}

.instruction{
	height:30px;
}


@media only screen and (max-width: 500px){
	.buttons{
		background-image:none;
		display: flex;
		flex-direction: column;
		width:50%;
		height: auto;
	}
	.button_a, .button_b, .button_up, .button_down, .button_right, .button_left{
		position: relative;
		width: 30px;
		height: 30px;
		padding: 5px;
		left: 50px;
	}
	h1{
		font-size: 1.5rem;
	}
	.button_instructions{
		display:flex;
		flex-direction: column;
		width:50%;
		height:auto;
	}
}